<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ride Booking System</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>🚗 Ride Booking System</h1>
        
        <div class="options">
            <a href="/passenger" class="option-btn">
                👤 I'm a Passenger
                <small>Book a ride</small>
            </a>
            
            <a href="/driver" class="option-btn">
                🚙 I'm a Driver
                <small>Accept ride requests</small>
            </a>
        </div>
    </div>
</body>
</html>